/*! Project Name: Geem */

@import "bourbon";
@import '_normalize.scss';
@import '_select2.scss';
// @import '_slick.scss';
@import '_owl.carousel.scss';
// @import '_owl.theme.default.scss';
@import '_plyr.scss';
@import '_jquery.mCustomScrollbar.scss';
@import '_jquery.fullPage.scss';

html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;

    @media (max-width: 1400px){
        font-size: 13px;
    }
    @media (max-width: 767px){
        font-size: 12px;
    }
}
html{
    width: 100vw;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

// .clearfix{
//     width: 100%;
// }
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


@font-face {
  font-family: 'theme-font';
  src: url('fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/SourceSansPro-Regular.otf')  format('opentype'),
         url('fonts/SourceSansPro-Regular.woff') format('woff'), url('fonts/SourceSansPro-Regular.ttf')  format('truetype'), url('fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'theme-font';
  src: url('fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/CircularStd-MediumItalic.otf')  format('opentype'),
         url('fonts/CircularStd-MediumItalic.woff') format('woff'), url('fonts/CircularStd-MediumItalic.ttf')  format('truetype'), url('fonts/CircularStd-MediumItalic.svg#CircularStd-MediumItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'theme-font';
  src: url('fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),  url('fonts/CircularStd-Book.otf')  format('opentype'),
         url('fonts/CircularStd-Book.woff') format('woff'), url('fonts/CircularStd-Book.ttf')  format('truetype'), url('fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: bold;
  font-style: normal;
}

html, body{
    overflow-x: hidden;
    height: 100%;
}

body{
    font-family: 'theme-font', sans-serif;
    background: #000;
    color: #fff;
}
a{
    text-decoration: none;
    transition: all .3s;
    color: #fff;
}

*, *:after, *:before{
    box-sizing: border-box;
}

.align-right{ text-align: right; }

.o-main-layout{
    display: table;
    height: 100%;
    width: 100%;
    padding: 0 65px;
    table-layout: fixed;
    @media (max-width: 767px){
        padding: 0 25px;
    }
}

//Universal Styling 

@include keyframes(bounce) {
    0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
    40% {
    @include transform(translateY(-8px));
  }
    60% {
    @include transform(translateY(8px));
  }
}

ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.container{
    max-width: 1600px;
    width: auto;
    position: relative;
    z-index: 100;
    margin: 0px auto;
}

.inner-container{
    max-width: 1170px;
    width: auto;
    position: relative;
    margin: 0px auto;
    min-height: 100%;
    height: auto;
}

.inner-container2{
    max-width: 750px;
    width: auto;
    position: relative;
    margin: 0px auto;
    min-height: 100%;
    height: auto;
}

.line-center{
    position: relative;
    &:before{
        content: '';
        background: url(../img/text-bg-line.svg) no-repeat center top scroll;
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: 100%;
        opacity: 0.5;
    }
}

// Background Video Style 
.wrap{
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom:0px;
    right: 0px;
    z-index: 8;
}

.player-wrap{
    position: relative;
    width: 200%;
    transform: translate(-25%, -25%);
    transition: all 2s;
    z-index: 9;
}
.player-wrap:after{
    content: '';
    display: block;
    padding-top: 56.21%;
}
.player-wrap.pan-right{
    transform: translate(-50%, -25%);
}
.player-wrap.pan-left{
    transform: translate(0%, -25%);
}
.player-wrap.pan-mid{
    transform: translate(-25%, -25%);
}
.player-wrap iframe{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.screen-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 33.33%;
    height: 100%;
    z-index: 10;
    text-indent: 100px;
}
.screen-overlay.mid{
    left: 33.33%;
}
.screen-overlay.right{
    left: auto;
    right: 0;
    text-indent: 100px;
}
.c-main-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 11;
}

//Header Styling
.header-wrap{
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    margin: 0px 15px;
    z-index: 1000;
    //width: 100%;
    .vr-logo{
        float: left;
        img{
            max-width: 180px;
        }
    }
    .right-links{
        float: right;
        >li{
            font-size: 14px;
            margin-left: 45px;
            display: inline-block;
            vertical-align: top;
            a{
                color:#fff;
                display: inline-block;
                font-style: italic;
                &.login-lnk{
                    //background: url(../img/login-icn.svg) no-repeat left top scroll;
                    //padding-left: 30px;
                    text-transform: uppercase;
                    font-size: 18px;
                    //background-size: 18px;
                    line-height: 16px;
                    min-width: 110px;
                    text-align: center;
                    img{
                        width: 18px;
                        vertical-align: bottom;
                        display: inline-block;
                        margin-right: 10px;
                    }
                }

            }
            &:first-child{
               margin-left: 0px; 
            }
            &.valume-icn{
                img{
                    width: 14px;
                }
            }

            .hamburger {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-item-align: center;
                  align-self: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
                -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
                width: 40px;
                height: 18px;
                cursor: pointer;
            }
            .hamburger div {
                -ms-flex-item-align: end;
                  align-self: flex-end;
                height: 2px;
                width: 100%;
                background: #ffffff;
            }
            .hamburger .top-bun {
                width: 85%;
            }
            .hamburger .meat {
                width: 100%;
                -webkit-transition: all 200ms ease-in-out;
                transition: all 200ms ease-in-out;
            }
            .hamburger .bottom-bun {
                width: 70%;
                -webkit-transition: all 400ms ease-in-out;
                transition: all 400ms ease-in-out;
            }
            .hamburger:hover div {
                width: 100%;
            }
            .hamburger:hover .top-bun {
                -webkit-animation: burger-hover 1s infinite ease-in-out alternate;
                      animation: burger-hover 1s infinite ease-in-out alternate;
            }
            .hamburger:hover .meat {
                -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
                      animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
            }
            .hamburger:hover .bottom-bun {
                -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
                      animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
            }

            @-webkit-keyframes burger-hover {
                0% {
                    width: 100%;
                }
                50% {
                    width: 50%;
                }
                100% {
                    width: 100%;
                }
            }

            @keyframes burger-hover {
                0% {
                    width: 100%;
                }
                50% {
                    width: 50%;
                }
                100% {
                    width: 100%;
                }
            }
        }
    }
}

#fullpage{
    position: relative;
    z-index: 999;
    //margin-top: 110px;
}
#fp-nav{
  ul{
    li{
        margin-bottom: 60px;
        position: relative;
        .fp-tooltip{
                text-transform: uppercase;
            }
        a{

            span{
                background-color: #fff;
                margin: -2px 0 0 -2px;
            }
            &.active{
                span{
                    width: 4px;
                    height: 4px;
                    margin: -2px 0 0 -2px;
                }
            } 
        }
        &:hover{
            a{
                span{
                    width: 4px;
                    height: 4px;
                    margin: -2px 0 0 -2px;
                }
                &.active{
                    span{
                        width: 4px;
                        height: 4px;
                        margin: -2px 0 0 -2px;
                    }
                } 
            }
        }
        // &:nth-child(3){
        //     a {
        //         &:before{
        //             /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.5+81,0.1+100 */
        //             background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 81%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
        //             background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 81%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
        //             background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 81%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */
        //         }
        //     }
        // }
        a {

            &:before{
                content: '';
                position: absolute;
                width: 2px;
                height: 55px;
                margin-left: -1px;
                left: 50%;
                top: 15px;
                bottom: 0px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.1+1,0.1+100 */
                background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 1%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */
            }
            &.active{
                &:before{
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.5+1,0.1+40 */
                    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 1%, rgba(255,255,255,0.1) 40%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 1%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 1%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */
                }

            }
            li &{ & + &{
                a.active {
                    &:before{
                        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.5+81,0.1+100 */
                        background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 81%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 81%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 81%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */
                    }
                }
            }
                
            }

        }

        
        &:last-child{
            margin-bottom: 0px;
            a {
                &:before{
                    display: none;
                }
            }
        }
    }
  } 
}

.mouse-icn{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/mouse-icn.svg) no-repeat center center scroll;
    background-size: 100%;
    a{
        display: inline-block;
        width: 23px;
        height: 38px;
    }
    .bounce-line {
        width: 3px;
        height: 8px;
        @include animation(bounce 2s infinite);
        background-color: #fff;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -2px;
        margin-top: -4px;
    }
}

h1{
    font-size: 82px;
    font-style: italic;
    margin: 0px 0px 20px 0px;
}

.contentSec{
    .number{
        display: inline-block;
        vertical-align: top;
        width: 68px;
        margin-right: 115px; 
        position: relative;
        .txtBox{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 32px;
            line-height: 68px;
            font-weight: normal;
            font-style: normal;
        }
    }
    .dec-text{
        display: inline-block;
        vertical-align: top;
        width: calc(73% - 115px);
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            margin: 0px 0px 10px 0px; 
            letter-spacing: 0.05em;
        }

    }
}

.loader-wrap{
    //overflow: hidden;
    width: 68px;
    height: 68px;  
    margin: 0px auto;
    
    .loader {
        width: 68px;
        height: 68px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        position: relative;
        animation: loader-rotate 2s linear infinite;
        background-color: rgba(255, 255, 255, 0.35);
        //border-right: transparent;
        
        &:after {
            content: '';
            width: 6px;
            height: 6px;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            top: 44px;
            left: 0px;
        }
        &.loader-2{
            -webkit-animation-delay: -0.4s; /* Chrome, Safari, Opera */
            animation-delay: -0.5s;
        }
    }
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } 
}

.link-text{
    font-style: italic;
    font-size: 26px;
    width: 250px;
    margin: 50px auto 0px auto;
    display: block;
    text-align: center;
}
.dis-table{
    display: table;
    .cell{
        display: table-cell;
        vertical-align: middle;
    }
}

.extend-list-wrap-1{
    display: block;
    border-radius: 4px;
    background-image: url('../img/experience-1.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    @include transform(translateZ(0));
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

    &:after{
        content: '';
        display: block;
        padding-top: 130px; /* 59.23% */
        width: 100%;
    }

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(255,255,255,0.2);
        z-index: 0;
        display: block;
        border-radius: 4px;
        border: 2px solid rgba(255, 255, 255, 0.8);
        border-bottom: 4px solid rgba(255, 255, 255, 0.9);
        opacity: 0;
        transition: all .3s;
    }
}

.package-sec{
    margin: 50px 0px 0px 0px;
    .col-box{
        width: 50%;
        float: left;
        h2{
            font-size: 28px;
            font-style: italic;
            margin: 0px 0px 0px 0px;
        }
        >p{
            font-size: 18px;
            color: #fff;
            margin: 0px 0px 30px 0px;
            span{
                color: #738990;
            }
        }
        .inner-list{
            list-style-type: none;
            margin: 0 -12px;
            padding: 0;
            font-size: 0;

            li{
                display: inline-block;
                width: 33.33%;
                padding: 0px 5px;
                .inner-wrap{
                    @extend .extend-list-wrap-1;

                    &:before{
                        display: none;
                    }

                    &.img-ringwalker{           background-image: url(../img/experience-pck-1.jpg)}
                    &.img-walking-dead{         background-image: url(../img/experience-pck-2.jpg)}
                    &.img-geminose{             background-image: url(../img/experience-pck-3.jpg)}
                    &.img-ape-x{                background-image: url(../img/experience-pck-4.jpg)}
                    &.img-payday-2{             background-image: url(../img/experience-pck-5.jpg)}
                    &.img-mummy{                background-image: url(../img/experience-pck-6.jpg)}
                    &.img-chronicles{           background-image: url(../img/experience-pck-7.jpg)}
                    &.img-construct{            background-image: url(../img/experience-pck-8.jpg)}
                    &.img-vr-bus{               background-image: url(../img/experience-pck-9.jpg)}
                    &.img-vr-balloon{           background-image: url(../img/experience-pck-10.jpg)}
                    &.img-augmented-reality{    background-image: url(../img/experience-pck-11.jpg)}
                    &.img-dubai-drone{          background-image: url(../img/experience-pck-12.jpg)}
                    &.img-drop-tower{           background-image: url(../img/experience-pck-13.jpg)}
                    &.img-dune-bash{            background-image: url(../img/experience-pck-14.jpg)}
                    &.img-skydive{              background-image: url(../img/experience-pck-15.jpg)}
                    &.img-sports{               background-image: url(../img/experience-pck-16.jpg)}

                    &:after{
                        padding-top: 112%;
                    }
                }

                .inner-title{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    font-size: 12px;
                    line-height: 1.5em;
                    padding: 6px 10px;
                    font-weight: normal;
                    font-style: italic;
                }
            }
        }

        &.adultSec{
            padding-right: 20px;
        }
        &.familySec{
            padding-left: 20px;
        }
    }

}
.wrap--credits{
    background-image: none !important;
    background-color: #738890 !important;
    position: relative;
    
    .inner-text{
        position: absolute;
        top:50%;
        left: 50%;
        margin-top: -49px;
        margin-left: -42px;
    }

    .credit{
        font-size: 77px;
        font-weight: bold;
        color: #1d4a5d;
        line-height: 80px;
        font-style: italic;
        display: block;
        text-align: center;
        //margin-top: 26px;
    }
    .txt{
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        display: block;
        text-align: center;
    }
    @media (max-width: 991px){
        .inner-text{
            margin-top: -34px;
            margin-left: -23px;
        }
        .credit{
            font-size: 40px;
            line-height: 50px;
        }
    }
}